USERS

%br
%br
= link_to "Create User", new_user_path, class: "btn btn-primary"
%br
%br
- @users.each do |user|
  %ul.dl-horizontal
  %dt Name
  = user.name
  %br
  %dt Email 
  = user.email
  %br
  %dt Github Name 
  = user.github_name
  = link_to "View", user_path(user), class: "btn btn-info"
  %br
  %br
