USERS
= link_to "Home", root_path
= link_to "Users", users_path
= link_to "Assignments", assignments_path
= link_to "Courses", courses_path
= link_to "Locations", locations_path
= link_to "Submissions", submissions_path
%br
%br
= link_to "Create User", new_user_path
%br
%br
- @users.each do |user|
  = link_to "View", user_path(user)
  Name: 
  = user.name
  %br
  Email: 
  = user.email
  %br
  Github Name: 
  = user.github_name
  %br
  %br
