%br
%br 
%ul.dl-horizontal
%dt Name
= @user.name
%br
%br
%dt Password
= @user.password
%br 
%br
%dt Email
= @user.email
%br
%br
%dt Github Name
= @user.github_name
%br

%br
= link_to "Edit", edit_user_path(@user), class: "btn btn-info"
%br
= link_to "Delete", user_path(@user), method: :delete, class: "btn btn-info"
%br

