Hello Universe
= link_to "Users", users_path

= link_to "Assignments", assignments_path
= link_to "Courses", courses_path
= link_to "Locations", locations_path
= link_to "Submissions", submissions_path