= form_for @location do |l|
  %br
  = l.label :name
  = l.text_field :name
  %br
  = l.label :address
  = l.text_field :address
  %br
  %br
  %br
  - @courses.each do |c|
    = check_box_tag 'location[course_ids][]', c.id, @location.courses.include?(c)
    = c.name
  %br
  = l.submit  
  %br
