%br
%br
Name:
= @location.name
%br 
%br
Address:
= @location.address
%br
%br
= link_to "Edit", edit_location_path(@location)
%br
= link_to "Delete", location_path(@location), method: :delete
%br
/ = link_to "View Courses"
Courses Offered:

- @location.courses.each do |c|
  = c.name
%br
%br