%br
%br
%ul.dl-horizontal
%dt Name
= @location.name
%br 
%dt Address
= @location.address
%br
= link_to "Edit", edit_location_path(@location), class: "btn btn-info"
%br
%br
= link_to "Delete", location_path(@location), method: :delete, class: "btn btn-info"
%br
%br
%dt Courses Offered 
- @location.courses.each do |c|
  = c.name
%br
%br