
%head
%title HwAssignmentTracker
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%body
= render 'layouts/navbar'
%p.notice= notice
%p.alert= alert

- if current_user
  %li
    = link_to "Logout #{current_user.email}", destroy_user_session_path, method: :delete
- else
  %li
    = link_to 'Register', new_user_registration_path
  %li
    = link_to 'Login', new_user_session_path
= yield
= render 'layouts/user_widget'